<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span th:insert="layouts/header::frag_header">
    header    
    </span>
    <div>
        <form action="output-member.html" th:action="@{/members/register}" th:object="${memberForm}" method="post">
            <div th:errors="*{name}" style="color: red;">エラー</div>
            <label for="name">名前:</label><input type="text" name="name" id="name" th:field="*{name}"><br>
            <label for="money">年齢:</label><input type="text" name="age" id="age" th:field="*{age}"><br>
            <label for="birthDay">誕生日:</label><input type="date" name="birthDay" id="birthDay" th:field="*{birthDay}"><br>
            <span>性別</span>
            <label for="men">男性:</label><input type="radio" name="gender" id="men" value="男性">
            <label for="women">女性:</label><input type="radio" name="gender" id="women" value="女性"><br>
            <label for="money">所持金:</label><input type="text" name="money" id="money" th:field="*{money}"><br>
            <label for="comment"></label><textarea name="comment" id="comment" cols="30" rows="10" th:field="*{comment}"></textarea><br>
            <span>趣味は：</span><br>
            <div th:errors="*{hobbyList}" style="color: red;" >エラー</div>
            <div th:each="hobby : ${hobbyMap}">
                <label th:for="hobby + ${hobby.key}">
                    <input type="checkbox" name="hobbyList" 
                        th:id="hobby + ${hobby.key}" th:text="${hobby.value}" th:value="${hobby.key}" th:field="*{hobbyList}">
                </label>
            </div>
            <button>送信</button>
        </form>
    </div>
</body>
</html>