<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index</h1>
    <h2>ddd</h2>
    <a href="/indexx">インデックス2</a>
    <a href="/sample">サンプルへ</a>
    <a href="/redirect">リダイレクト</a>
    <a href="/redirect2">リダイレクト2</a>
    <a href="/hello/sample">helloSample</a>
    <a href="/receive/">フォームへ</a>
    <a href="/login/">ログインフォームへ</a>
    <a href="/members/">メンバー作成へ</a>
    <a href="/chats/">チャットリストへ</a>
    <img src="img/sakura-logo.png" alt="">
</body>
</html>